<h2>Rating</h2>

<h4>{{ ratingValue }}</h4>

<div class="rating-zone" *ngFor="let number of input" (mouseenter)="changeColor(number.value)"
     [class.active]="number.active" (click)="setPoint(number.value)" (mouseleave)="reset()">{{ number.value }}</div>
