.rating-zone {
  width: 40px;
  height: 40px;
  margin: 0;
  float: left;
  text-align: center;
  vertical-align: center;
  line-height: 40px;
}
.active {
  background-color: crimson;
  color: #fff;
}
