<form [formGroup]="countdownForm" (ngSubmit)="getTime()">
  <input type="number" formControlName="time">
  <button>Count</button>
</form>
<div *ngIf="seconds !== 0">
  <app-countdown [seconds]="seconds"></app-countdown>
</div>
