<form>
  <table>
    <tr>
      <td><input type="number" [value]="num1" (change)="setNum1($event.target.value)"></td>
      <td><input type="number" [value]="num2" (change)="setNum2($event.target.value)"></td>
      <td>= {{ result }}</td>
    </tr>
    <tr>
      <td><button (click)="add()">Add</button><button (click)="minus()">Minus</button></td>
      <td><button (click)="multiply()">Multiply</button><button (click)="divide()">Divide</button></td>
    </tr>
  </table>
</form>
