<form novalidate [formGroup]="accountForm">
  <label for="email">Email: </label><br>
  <input type="email" id="email" placeholder="Email" ng-required="true" formControlName="email">
  <div class="alert alert-danger" role="alert"
       *ngIf="accountForm.get('email').invalid && accountForm.get('email').touched">
    Invalid email!
  </div><br><br>
  <label for="password">Password: </label><br>
  <input type="password" id="password" placeholder="Password" ng-required="true" formControlName="password">
  <div class="alert alert-danger" role="alert"
       *ngIf="accountForm.get('password').invalid && accountForm.get('password').touched">
    Invalid password!
  </div><br><br>
  <button>Login</button>
</form>
