<form>
  <table>
    <tr>
      <td>Name: </td>
      <td><input type="text" ngModel name="petName" #inputPetName="ngModel" (change)="setPetName(inputPetName)"></td>
    </tr>
    <tr>
      <td>Image source: </td>
      <td><input type="text" ngModel name="petImg" #inputPetImg="ngModel" (change)="setPetImg(inputPetImg)"></td>
    </tr>
  </table>
  <h3>{{ petName }}</h3>
  <img style="width: 600px;" src="{{ petImg }}">
</form>
