<form [formGroup]="accountForm" novalidate (ngSubmit)="register()">
  <label for="email">Email:</label><br>
  <input type="email" id="email" placeholder="Email" ng-required="true" formControlName="email">
  <div class="alert alert-danger" role="alert"
       *ngIf="accountForm.get('email').invalid && accountForm.get('email').touched">
    Invalid email!
  </div><br><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" placeholder="Password" ng-required="true" formControlName="password">
  <div class="alert alert-danger" role="alert"
       *ngIf="accountForm.get('password').invalid && accountForm.get('password').touched">
    Invalid email!
  </div><br><br>
  <label for="repassword">Confirm-Password:</label><br>
  <input type="password" id="repassword" placeholder="Confirm Password" ng-required="true" formControlName="rePassword"><br><br>
  <label for="country">Country:</label><br>
  <select id="country" formControlName="country">
    <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
  </select><br><br>
  <label for="age">Age:</label><br>
  <input type="number" id="age" placeholder="Age" ng-required="true" formControlName="age">
  <div class="alert alert-danger" role="alert"
       *ngIf="accountForm.get('age').invalid && accountForm.get('age').touched">
    Invalid age!
  </div><br><br>
  <label>Gender: </label>
  <input type="radio" name="gender" value="male" ng-required="true" formControlName="gender"> Male
  <input type="radio" name="gender" value="female" ng-required="true" formControlName="gender"> Female<br><br>
  <label for="phone">Phone:</label><br>
  <input type="text" id="phone" placeholder="Phone number" ng-required="true" formControlName="phone">
  <div class="alert alert-danger" role="alert"
       *ngIf="accountForm.get('phone').invalid && accountForm.get('phone').touched">
    Invalid phone number!
  </div><br><br>
  <button [disabled]="accountForm.status==='INVALID'">Register</button>
  <p>{{ accountForm.value | json }}</p>
  <p>{{ accountForm.status | json }}</p>
</form>
