<div>
<a [routerLink]="'/bt01/fontSize'">Lesson 1</a> |
<a [routerLink]="'/bt01/pet'">Lesson 2</a> |
<a [routerLink]="'/bt01/calculator'">Lesson 3</a> |
<a [routerLink]="'/bt01/colorPicker'">Lesson 4</a>
</div>
<router-outlet></router-outlet>
