<div>
  <a [routerLink]="'/bt02/countdown-input'">Countdown using @Input</a> |
  <a [routerLink]="'/bt02/countdown-output'">Countdown using @Output</a> |
  <a [routerLink]="'/bt02/rating'">Rating</a>
</div>
<router-outlet></router-outlet>
