<p>Color Picker</p>
<form [formGroup]="formColor" (ngSubmit)="changeColor()">
  <select formControlName="color">
    <option *ngFor="let color of colors" [style.background-color]="color" [value]="color">
      {{ color }}
    </option>
  </select>
  <button>Submit</button>
</form>

<div class="preview" [style.background-color]="selectedColor"></div>
